{% extends 'base.html' %}



{% block content %}

<style>
    body{
        margin: 0;
        padding: 0;
        background-color: lightgray;
        background-size: cover;
        background-position: center;
    }
    h1{
        color: rgb(250, 250, 109);
        text-align: center;
        padding: 40px;
        font-style: italic;
    }
    .myform{
        text-align: center;
        color:rgb(250, 250, 109);
        font-weight: bold;
        font-style: italic;
        padding: 20px;
    }

</style>

{% if error %}
{{error}}
{% endif %}

<br>

<h1>Create Cluster</h1>
<h3>Title: {{ title }}</h3>

<br><br><br>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}


    {% for i in nourl %}
        URL:
        <br/>
        <input type="text" name ="url" required>
        <br/>

        <br/>
        <label for="datatype">Data to Search:</label>
        <select name="datatype" id="datatype">
            <option value="All">All</option>
            <option value="pdf">PDF</option>
            <option value="doc">DOC</option>
            <option value="Text">Text</option>
            <option value="nonhtml">Non-HTML</option>
        </select>
        <br>



        <br/>
        <label for="depth">Depth:</label>
        <select name="depth" id="depth">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>

        <hr>
    {% endfor %}    


    <br>    
    <input type="hidden" id="title" name="title" value="{{title}}">
    <br>
    <br>    
    <input type="hidden" id="n" name="n" value="{{n}}">
    <br>


    <input type="submit" value="Submit" class="btn btn-primary mb-3 btn-md">

</form>




{% endblock %}
