{% extends 'base.html' %}



{% block content %}

{% if error %}
{{error}}
{% endif %}

<br>

<style>
    .row{
    background: white;
    border-radius: 20px;
  }
</style>


<form method="POST" action="{% url 'urlprompt' %}" class="w-50 m-auto" required>
{% csrf_token %}

    <h3>Cluster Title:</h3>
    <br/>
    <input type="text" name ="title" class="form-control" required>
    <br/>
    <h3>Number of URLs to search:</h3>
    <br/>
    <input type="number" name="nourl" min="0" class="form-control" required>
    <br/>
    <br/>
    <input class= "btn btn-primary mb-3 btn-md" type="submit" value="Submit">

</form>


{% endblock %}
